# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EduJournal.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kav128\source\Koorsach\.idea\.idea.EduJournal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
